// Icon for the main application
AAA          ICON    MOVEABLE        PRELOAD         PHOTO_all.ico

//PNGs for use in menus - these are stored as custom data-types

//Select menu
SELECTALL    CUSTOM  MOVEABLE        LOADONCALL      select_all.png
SELECTNONE   CUSTOM  MOVEABLE        LOADONCALL      select_none.png
SELECTINVERT CUSTOM  MOVEABLE        LOADONCALL      select_invert.png
SELECTGROW   CUSTOM  MOVEABLE        LOADONCALL      select_grow.png
SELECTSHRINK CUSTOM  MOVEABLE        LOADONCALL      select_shrink.png
SELECTBORDER CUSTOM  MOVEABLE        LOADONCALL      select_border.png
SELECTFTHR   CUSTOM  MOVEABLE        LOADONCALL      select_feather.png
SELECTSHRP   CUSTOM  MOVEABLE        LOADONCALL      select_sharpen.png
SELECTERASE  CUSTOM  MOVEABLE        LOADONCALL      selection_erase.png
SELECTLOAD   CUSTOM  MOVEABLE        LOADONCALL      select_load.png
SELECTSAVE   CUSTOM  MOVEABLE        LOADONCALL      disk.png
SELECTEXPORT CUSTOM  MOVEABLE        LOADONCALL      select_export.png
//--> Export sub-menu
EXPRTSELAREA CUSTOM  MOVEABLE        LOADONCALL      selected_area_export.png
EXPRTSELMASK CUSTOM  MOVEABLE        LOADONCALL      mask.png

//Adjustments menu

AUTOCORRECT  CUSTOM  MOVEABLE        LOADONCALL      light_bulb.png
//--> Auto correct sub-menu

//
AUTOENHANCE  CUSTOM  MOVEABLE        LOADONCALL      image_cast.png
//--> Auto-enhance sub-menu

//

CHANNELMIX   CUSTOM  MOVEABLE        LOADONCALL      block.png
//--> Channels sub-menu
RECHANNEL    CUSTOM  MOVEABLE        LOADONCALL      arrow_merge_blue.png
COLORSHIFTR  CUSTOM  MOVEABLE        LOADONCALL      arrow_switch.png
COLORSHIFTL  CUSTOM  MOVEABLE        LOADONCALL      arrow_switch_180.png
CHANNELMAX   CUSTOM  MOVEABLE        LOADONCALL      channel_maximum.png
CHANNELMIN   CUSTOM  MOVEABLE        LOADONCALL      channel_minimum.png

//--> Colors sub-menu
COLORBALANCE CUSTOM  MOVEABLE        LOADONCALL      chart_pie_separate.png
WHITEBAL     CUSTOM  MOVEABLE        LOADONCALL      weather_clouds.png
HSL          CUSTOM  MOVEABLE        LOADONCALL      color.png
TEMPERATURE  CUSTOM  MOVEABLE        LOADONCALL      thermometer.png
TINT         CUSTOM  MOVEABLE        LOADONCALL      tint.png
VIBRANCE     CUSTOM  MOVEABLE        LOADONCALL      image_saturation_up.png
COLORIZE     CUSTOM  MOVEABLE        LOADONCALL      color_swatch.png
GRAYSCALE    CUSTOM  MOVEABLE        LOADONCALL      image_gray.png
REPLACECLR   CUSTOM  MOVEABLE        LOADONCALL      node_delete_child.png
SEPIA        CUSTOM  MOVEABLE        LOADONCALL      zone.png
//

LIGHTING     CUSTOM  MOVEABLE        LOADONCALL      flashlight.png
//--> Lighting sub-menu
BRIGHT       CUSTOM  MOVEABLE        LOADONCALL      contrast.png
CURVES       CUSTOM  MOVEABLE        LOADONCALL      layer_shape_curve.png
GAMMA        CUSTOM  MOVEABLE        LOADONCALL      television_test.png
LEVELS       CUSTOM  MOVEABLE        LOADONCALL      color_adjustment.png
SHDWHGHLGHT  CUSTOM  MOVEABLE        LOADONCALL      ghost.png
//

HISTOGRAM    CUSTOM  MOVEABLE        LOADONCALL      chart.png
//--> Histogram sub-menu
EQUALIZE     CUSTOM  MOVEABLE        LOADONCALL      equalizer_flat.png
STRETCH      CUSTOM  MOVEABLE        LOADONCALL      ui_splitter_horizontal.png
//

INVERT       CUSTOM  MOVEABLE        LOADONCALL      images.png
//--> Invert sub-menu
INVCMYK      CUSTOM  MOVEABLE        LOADONCALL      invert_film.png
INVHUE       CUSTOM  MOVEABLE        LOADONCALL      invert_hue.png
INVRGB       CUSTOM  MOVEABLE        LOADONCALL      invert_rgb.png
INVCOMPOUND  CUSTOM  MOVEABLE        LOADONCALL      invert_compound.png
//

MONOCHROME   CUSTOM  MOVEABLE        LOADONCALL      checkerboard.png
//--> Monochrome sub-menu
COLORTOMONO  CUSTOM  MOVEABLE        LOADONCALL      color_to_monochrome.png
MONOTOCOLOR  CUSTOM  MOVEABLE        LOADONCALL      monochrome_to_color.png
//

PHOTOFILTER  CUSTOM  MOVEABLE        LOADONCALL      photo_album.png
//--> Photography sub-menu
EXPOSURE     CUSTOM  MOVEABLE        LOADONCALL      occluder.png
HDR          CUSTOM  MOVEABLE        LOADONCALL      images_flickr.png
SPLITTONE    CUSTOM  MOVEABLE        LOADONCALL      split_tone.png


//Filters menu
//FADELAST     CUSTOM  MOVEABLE        LOADONCALL      layers_arrange_back.png

ARTISTIC     CUSTOM  MOVEABLE        LOADONCALL      paintbrush.png
//--> Artistic sub-menu
COMICBOOK    CUSTOM  MOVEABLE        LOADONCALL      book_open_text_image.png
FIGGLASS     CUSTOM  MOVEABLE        LOADONCALL      jar_empty.png
FILMNOIR     CUSTOM  MOVEABLE        LOADONCALL      user_detective_gray.png
GLASSTILES   CUSTOM  MOVEABLE        LOADONCALL      wafer.png
KALEIDOSCOPE CUSTOM  MOVEABLE        LOADONCALL      flower_modified.png
MODERNART    CUSTOM  MOVEABLE        LOADONCALL      stickman_smiley.png
OILPAINTING  CUSTOM  MOVEABLE        LOADONCALL      palette_paintbrush.png
PENCIL       CUSTOM  MOVEABLE        LOADONCALL      pencil.png
POSTERIZE    CUSTOM  MOVEABLE        LOADONCALL      categories.png
RELIEF       CUSTOM  MOVEABLE        LOADONCALL      wall.png
STAINEDGLASS CUSTOM  MOVEABLE        LOADONCALL      church.png
//

BLUR         CUSTOM  MOVEABLE        LOADONCALL      glass.png
//--> Blur sub-menu
BOXBLUR      CUSTOM  MOVEABLE        LOADONCALL      box.png
CHROMABLUR   CUSTOM  MOVEABLE        LOADONCALL      category_group_select.png
FRAGMENT     CUSTOM  MOVEABLE        LOADONCALL      puzzle.png
GAUSSBLUR    CUSTOM  MOVEABLE        LOADONCALL      image_blur.png
GRIDBLUR     CUSTOM  MOVEABLE        LOADONCALL      image_empty.png
MOTIONBLUR   CUSTOM  MOVEABLE        LOADONCALL      weather_wind.png
PIXELATE     CUSTOM  MOVEABLE        LOADONCALL      grid.png
RADIALBLUR   CUSTOM  MOVEABLE        LOADONCALL      arrow_step_over.png
SMARTBLUR    CUSTOM  MOVEABLE        LOADONCALL      pearl.png
ZOOMBLUR     CUSTOM  MOVEABLE        LOADONCALL      arrow_in_out.png
//

DISTORT      CUSTOM  MOVEABLE        LOADONCALL      mizuhiki_paper_cord.png
//--> Distort sub-menu
LENSDISTORT  CUSTOM  MOVEABLE        LOADONCALL      camera_lens_plus.png
FIXLENS      CUSTOM  MOVEABLE        LOADONCALL      camera_lens_minus.png
MISCDISTORT  CUSTOM  MOVEABLE        LOADONCALL      shopping_basket.png
PANANDZOOM   CUSTOM  MOVEABLE        LOADONCALL      arrow_out.png
PERSPECTIVE  CUSTOM  MOVEABLE        LOADONCALL      image_select.png
PINCHWHIRL   CUSTOM  MOVEABLE        LOADONCALL      weather_tornado.png
POKE         CUSTOM  MOVEABLE        LOADONCALL      hand_point_90.png
POLAR        CUSTOM  MOVEABLE        LOADONCALL      santa_hat.png
RIPPLE       CUSTOM  MOVEABLE        LOADONCALL      water.png
SHEAR        CUSTOM  MOVEABLE        LOADONCALL      image_medium_slant.png
SPHERIZE     CUSTOM  MOVEABLE        LOADONCALL      sport_tennis.png
SQUISH       CUSTOM  MOVEABLE        LOADONCALL      weight.png
SWIRL        CUSTOM  MOVEABLE        LOADONCALL      lollipop.png
WAVES        CUSTOM  MOVEABLE        LOADONCALL      zodiac.png
//
EDGES        CUSTOM  MOVEABLE        LOADONCALL      fingerprint_recognition.png
//--> Edges sub-menu
EMBOSS       CUSTOM  MOVEABLE        LOADONCALL      stamp.png
EDGEENHANCE  CUSTOM  MOVEABLE        LOADONCALL      layer_select.png
TRACECONTOUR CUSTOM  MOVEABLE        LOADONCALL      quill.png
//

SUNSHINE     CUSTOM  MOVEABLE        LOADONCALL      sunshine.png
//--> Lighting sub-menu
BLACKLIGHT   CUSTOM  MOVEABLE        LOADONCALL      black_light_bulb.png
CROSSSCREEN  CUSTOM  MOVEABLE        LOADONCALL      lighthouse_shine.png
LENSFLARE    CUSTOM  MOVEABLE        LOADONCALL      lens_flare.png
RAINBOW      CUSTOM  MOVEABLE        LOADONCALL      rainbow.png
DILATE       CUSTOM  MOVEABLE        LOADONCALL      dilate.png
ERODE        CUSTOM  MOVEABLE        LOADONCALL      erode.png
//

NATURAL      CUSTOM  MOVEABLE        LOADONCALL      leaf_plant.png
//--> Natural sub-menu
ATMOSPHERE   CUSTOM  MOVEABLE        LOADONCALL      weather_moon_clouds.png
BURN         CUSTOM  MOVEABLE        LOADONCALL      fire_big.png
FOG          CUSTOM  MOVEABLE        LOADONCALL      weather_fog.png
FREEZE       CUSTOM  MOVEABLE        LOADONCALL      ice.png
LAVA         CUSTOM  MOVEABLE        LOADONCALL      zodiac_lava.png
STEEL        CUSTOM  MOVEABLE        LOADONCALL      shield.png
RAIN         CUSTOM  MOVEABLE        LOADONCALL      weather_rain.png
//

NOISE        CUSTOM  MOVEABLE        LOADONCALL      speaker.png
//--> Noise sub-menu
FILMGRAIN    CUSTOM  MOVEABLE        LOADONCALL      film.png
ADDNOISE     CUSTOM  MOVEABLE        LOADONCALL      speaker_volume_control_up.png
BILATERAL    CUSTOM  MOVEABLE        LOADONCALL      speaker_volume_control_mute.png
MEDIAN       CUSTOM  MOVEABLE        LOADONCALL      balance.png
//

SHARPEN      CUSTOM  MOVEABLE        LOADONCALL      spectacle.png
//--> Sharpen sub-menu
UNSHARP      CUSTOM  MOVEABLE        LOADONCALL      spectacle_sunglass.png
//

STYLIZE      CUSTOM  MOVEABLE        LOADONCALL      tie.png
//--> Stylize sub-menu
ANTIQUE      CUSTOM  MOVEABLE        LOADONCALL      radio_old.png
DIFFUSE      CUSTOM  MOVEABLE        LOADONCALL      bomb.png
SOLARIZE     CUSTOM  MOVEABLE        LOADONCALL      solar_panel.png
TWINS        CUSTOM  MOVEABLE        LOADONCALL      image_twins.png
VIGNETTE     CUSTOM  MOVEABLE        LOADONCALL      photo_sunset.png
//

CUSTFILTER   CUSTOM  MOVEABLE        LOADONCALL      table_pencil.png

//Special-purpose images

//Resize mode sample images
RSZ_STRETCH  CUSTOM  MOVEABLE        LOADONCALL      resize_stretch.png
RSZ_FITIN    CUSTOM  MOVEABLE        LOADONCALL      resize_fit_inclusive.png
RSZ_FITEX    CUSTOM  MOVEABLE        LOADONCALL      resize_fit_exclusive.png
